#first-div{
    width: 350px;
    height: 35px;
    background: linear-gradient(blue, green, purple)
}

#heading1{
    font-size: 36px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#paragraph1{
    color: white;
    font-size: 20px;
}

#paragraph2{
    color: white;
    font-size: 20px;
}